<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>LIST APP</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <header>
      <a href="/" class="header-logo">LIST</a>
    </header>
    <div class="container">
      <div class="container-header">
        <h1>Edit Item</h1>
        <a href="/index" class="cancel-button">Batal</a>
      </div>
      <div class="item-form-wrapper">
        <p class="form-label">Item</p>
        <form method="post" action="/update/<%= item.id %>">
          <input type="text" value="<%= item.namaMobil %>" name="itemNamaMobil">
          <input type="text" value="<%= item.merk %>" name="itemMerk">
          <input type="text" value="<%= item.kapMobil %>" name="itemKap">
          <input type="text" value="<%= item.jumlahHari %>" name="itemJumlah">
          <input type="text" value="<%= item.biayaSewa %>" name="itemBiaya">
          <input type="text" value="<%= item.jarakTempuh %>" name="itemJarak">
          <input type="submit" value="Perbarui">
        </form>
      </div>
      <a href="/index" class="cancel-button"></span>Kembali</a>
    </div>
  </body>
</html>